*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/Fundo.jpg);
    background-size: cover;
    background-position: center;
}
.container{
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  
}